@charset "UTF-8";
.txt1 {
  color: black;
}

.txt2 {
  color: white;
}

.fs1 {
  font-size: 25px;
}

.fs2 {
  font-size: 30px;
}

.fs3 {
  font-size: 31px;
}

.fs4 {
  font-size: 40px;
}

.fs5 {
  font-size: 60px;
}

.botonGet {
  background-color: black;
}

.titleBold {
  font-weight: bold;
}

.imgSizes {
  width: 80px;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  background-color: #75D0DC;
  color: white;
  font-family: "Source Serif Pro", serif;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .title { /*Fonts style for titles*/
  font-family: "Roboto Slab", serif;
}

main.raquetas h1 {
  text-align: center;
}
main.raquetas section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  width: calc(72rem + 90px);
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
}
main.raquetas section article.card {
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 3px 3px 15px -3px rgba(0, 0, 0, 0.3);
  transition-duration: 0.5s;
}
main.raquetas section article.card img {
  height: 280px;
  width: auto;
  transition-duration: 0.5s;
  margin: 0 auto;
}
main.raquetas section article.card:hover {
  box-shadow: 3px 3px 15px -3px rgba(0, 0, 0, 0.6);
}
main.raquetas section article.card:hover img {
  transform: rotateZ(10deg);
}
main.raquetas .logosImg {
  display: grid;
  justify-content: center;
  justify-items: center;
}
main.raquetas .logosImg img {
  height: 100px;
  width: auto;
  padding-bottom: 10px;
}

@media screen and (max-width: 1300px) {
  main.raquetas section {
    grid-template-columns: repeat(3, 1fr);
    width: calc(54rem + 60px);
  }
}
@media screen and (max-width: 1000px) {
  main.raquetas section {
    grid-template-columns: repeat(2, 1fr);
    width: calc(36rem + 30px);
  }
}
@media screen and (max-width: 650px) {
  main.raquetas section {
    grid-template-columns: repeat(1, 1fr);
    width: 18rem;
    gap: 0;
  }
  main.raquetas section article.card {
    margin-top: 30px;
  }
  main.raquetas section article.card:first-child {
    margin-top: 0;
  }
}
/* main.inicio.inicio grid */
#principal {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main" "footer";
}

/* header */
header {
  display: flex;
  align-items: center; /*Vertical*/
  justify-content: space-between; /*Horizontal*/
  grid-area: header;
  height: 130px;
}
header .navbar {
  background-color: #75D0DC;
}
header a {
  color: white;
}
header a span {
  padding-left: 25px;
  font-size: 32px;
  font-weight: bold;
  transition-duration: 0.5s;
}
header a span:hover {
  font-size: 34px;
  opacity: 0.5;
  color: black;
}
header .nav-link {
  color: white;
  font-size: 25px;
  margin: 0px 10px;
}
header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav ul li {
  list-style: none; /*Quitar viñetas*/
  padding: 25px;
}
header nav ul li a {
  font-size: 25px;
  transition-duration: 0.5s;
}
header nav ul li a:hover {
  font-size: 27px;
  opacity: 0.5;
  color: black;
}

/* main inicio/index */
main.inicio {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  /*display: none;*/
  grid-template-areas: "left right";
}
main.inicio .right {
  grid-area: right;
}
main.inicio .right img {
  width: auto;
  height: 80vh;
}
main.inicio .left {
  width: 610px;
  margin-left: 50px;
  grid-area: left;
}
main.inicio .left h1 {
  margin: 0;
}
main.inicio .left p {
  margin: 0;
  line-height: 28px; /*Interlineado*/
}
main.inicio .left .btn, main.inicio .left .btn-primary, main.inicio .left .btn-secondary {
  border-radius: 40px;
  font-size: 22px;
  width: 218px;
  text-align: center;
  line-height: 70px;
  margin-right: 15px;
  margin-top: 50px;
  display: inline-block;
  transition-duration: 0.5s;
}
main.inicio .left .btn:hover, main.inicio .left .btn-primary:hover, main.inicio .left .btn-secondary:hover { /*Animación*/
  font-size: 24px;
  box-shadow: 0px 0px 5px black;
}
main.inicio .left .btn-primary, main.inicio .left .btn-secondary {
  background-color: black;
  border: 1px solid black;
  color: white;
}
main.inicio .left .btn-secondary {
  color: white;
  border: 2px solid white;
  background-color: transparent;
}

/* Main contacto */
main.sectionContacto {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}
main.sectionContacto .fotoContacto {
  width: 80%;
}
main.sectionContacto .div1Contacto {
  background-color: #D7CF79;
  border-radius: 50px;
  padding: 25px;
  text-align: center;
}
main.sectionContacto .div1Contacto a {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
main.sectionContacto .div1Contacto a:hover {
  opacity: 0.5;
}
main.sectionContacto p {
  font-size: 24px;
}
main.sectionContacto #whatsappTxt {
  font-size: 18px;
  color: black;
  border: 2px solid black;
  border-radius: 25px;
  width: 200px;
  padding: 10px;
}
main.sectionContacto .formulario {
  margin-top: 140px;
}
main.sectionContacto .formulario .titulo {
  font-size: 25px;
}
main.sectionContacto .formulario .btn, main.sectionContacto .formulario main.inicio .left .btn-primary, main.inicio .left main.sectionContacto .formulario .btn-primary, main.sectionContacto .formulario main.inicio .left .btn-secondary, main.inicio .left main.sectionContacto .formulario .btn-secondary {
  border: 2px solid black;
  width: 100px;
  height: 50px;
  margin: 0px 10px;
}
main.sectionContacto .formulario .btn:hover, main.sectionContacto .formulario main.inicio .left .btn-primary:hover, main.inicio .left main.sectionContacto .formulario .btn-primary:hover, main.sectionContacto .formulario main.inicio .left .btn-secondary:hover, main.inicio .left main.sectionContacto .formulario .btn-secondary:hover {
  background-color: white;
  color: black;
}
main.sectionContacto #email {
  margin-top: 100px;
}

/* Main tienda */
main.tienda {
  width: 100%;
}
main.tienda h2 {
  text-align: center;
}
main.tienda #tablaTiendas {
  width: calc(100% - 40px);
  max-width: 1400px;
  margin: 50px auto;
  border: none;
  border-collapse: collapse;
  border: 2px solid #75D0DC;
  grid-template-columns: repeat(4, 1fr);
  display: grid;
}
main.tienda #tablaTiendas article {
  border: 3px solid black;
  display: block;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
main.tienda #tablaTiendas article a {
  text-decoration: underline;
}
main.tienda #tablaTiendas .wrapper-frag {
  overflow: hidden;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
}
main.tienda #tablaTiendas .wrapper-frag img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
@media screen and (max-width: 750px) {
  main.tienda #tablaTiendas {
    grid-template-columns: repeat(1, 1fr);
  }
  main.tienda #tablaTiendas article:nth-child(4), main.tienda #tablaTiendas article:nth-child(8), main.tienda #tablaTiendas article:nth-child(12) {
    margin-bottom: 40px;
  }
}

/* Main historia */
main.historia {
  width: calc(100% - 60px);
  margin: 0 30px;
}
main.historia section {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}
main.historia section article img {
  width: 100%;
}
main.historia section article p {
  font-size: 20px;
}

/* Main galería */
main.galeria {
  width: calc(100% - 60px);
  margin: 30px;
}
main.galeria h2 {
  text-align: center;
  margin-bottom: 50px;
}
main.galeria .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  width: 100%;
}
main.galeria a {
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition-duration: 0.5s;
  /* opacity: 0.7; */
}
main.galeria a:hover {
  /* opacity: 1; */
  transform: translateY(-20px);
}
main.galeria a img {
  width: 100%;
  border-radius: 30px;
}

/* footer */
footer {
  background-color: black;
  width: 100%;
  grid-area: footer;
}
footer .imgs {
  display: grid;
  grid-template-columns: repeat(3, auto);
  margin: 0 auto;
  width: 400px;
}
footer .imgs a {
  text-align: center;
}
footer .imgs a img {
  width: 60%;
  height: auto;
  margin-top: 20px;
  transition-duration: 0.5s;
}
footer .imgs a img:hover {
  opacity: 0.5;
}
footer small {
  text-align: center;
  width: calc(100% - 30px);
  display: inline-block;
  padding: 15px;
}

/* Responsive - Media Queries */
@media screen and (max-width: 400px) {
  main.sectionContacto .div1Contacto {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  main.inicio .left .btn.transparente, main.inicio .left .transparente.btn-primary, main.inicio .left .transparente.btn-secondary {
    margin-top: 10px;
  }
  footer .img a img {
    width: 50%;
  }
  main.galeria a {
    margin-top: 0px !important;
  }
}
@media screen and (max-width: 580px) {
  header nav ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
  }
  header nav ul li {
    padding-bottom: 0;
  }
  main.inicio .left {
    width: calc(100% - 40px);
    text-align: center;
    margin-left: 0;
    padding: 0 20px;
  }
}
@media screen and (max-width: 750px) {
  main.galeria .content {
    grid-template-columns: 1fr;
  }
  main.galeria a {
    margin-top: 20px;
  }
}
@media screen and (max-width: 860px) {
  header {
    flex-direction: column;
  }
  header ul {
    padding-left: 0;
  }
  header #logo {
    padding-left: 0;
  }
  main.tienda table tr:nth-child(1) {
    display: none;
  }
  main.tienda table tr:nth-child(4) {
    display: none;
  }
  main.tienda table tr td {
    border: none;
  }
  main.tienda table tr td:nth-child(2) {
    display: none;
  }
  main.tienda table tr td:nth-child(3) {
    display: none;
  }
  main.tienda table tr td:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  main.inicio.inicio {
    grid-template-columns: 1fr;
    grid-template-areas: "right" "left";
  }
  footer {
    margin-top: 80px;
  }
  main.sectionContacto {
    grid-template-columns: 1fr;
  }
  main.sectionContacto .fotoContacto {
    width: 300px;
  }
  main.sectionContacto .formulario {
    margin-top: 20px;
  }
  main.historia section {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=styles.css.map */