@import "variablesIndex";
@import "maps";
@import "mixin";
@import "general";
@import 'raquetas';

/* main.inicio.inicio grid */
#principal {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
                          "main"
                          "footer";

}

/* header */

header {
    display: flex;
    align-items: center; /*Vertical*/
    justify-content: space-between; /*Horizontal*/
    grid-area: header;
    height: 130px;
    .navbar{
        background-color: #75D0DC
    }
    a{
        color: white;
        span{
            padding-left: 25px;
            font-size: 32px;
            font-weight: bold;
            transition-duration: 0.5s;
            &:hover{
                font-size: 34px;
                opacity: 0.5;
                color: black;
            }
        }
    }
    .nav-link{
        color: white;
        font-size: 25px;
        margin: 0px 10px;
    }
    nav{
        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            li{
                list-style: none; /*Quitar viñetas*/
                padding: 25px;
                a{
                    font-size: 25px;
                    transition-duration: 0.5s;
                    &:hover{
                        font-size: 27px;
                        opacity: 0.5;
                        color: black;
                    }
                }
            }
    }
    }
}

/* main inicio/index */

main.inicio {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    /*display: none;*/
    grid-template-areas: "left right";
    .right{
        grid-area: right;
        img{
            width: auto;
            height: 80vh; /*vh=ajustar al height de la pantalla*/
        }
    }
    .left{
        width: 610px;
        margin-left: 50px;
        grid-area: left;
        h1{
            margin: 0;
        }
        p{
            margin: 0;
            line-height: 28px; /*Interlineado*/ 
        }
        .btn{
            border-radius: 40px;
            font-size: 22px;
            width: 218px;
            text-align: center;
            line-height: 70px;
            margin-right: 15px;
            margin-top: 50px;
            display: inline-block;
            transition-duration: 0.5s;
            &:hover{ /*Animación*/
                font-size: 24px;
                box-shadow: 0px 0px 5px $color_primario_boton;
            }
        }
        .btn-primary{
            @extend .btn;
            background-color: $color_primario_boton;
            border: 1px solid $color_primario_boton; 
            color: $color_secundario_boton;
        }
        .btn-secondary{
            @extend .btn-primary;
            @extend .btn;
            color: $color_secundario_boton;
            border: 2px solid $color_secundario_boton;
            background-color: transparent;
        }
    }
}

/* Main contacto */

main.sectionContacto{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    .fotoContacto{
        width: 80%; 
    }
    .div1Contacto{
        background-color: #D7CF79;
        border-radius: 50px;
        padding: 25px;
        text-align: center; 
        a{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            &:hover{
                opacity: 0.5;
            } 
        }
    }
    p{
        font-size: 24px;
    }
    #whatsappTxt{
        font-size: 18px;
        color: black;
        border:2px solid black;
        border-radius: 25px;
        width: 200px;
        padding: 10px;
    }
    .formulario{
        margin-top: 140px;
        .titulo{
            font-size: 25px;
        }
        .btn{
            border: 2px solid black;
            width: 100px;
            height: 50px;
            margin: 0px 10px;
            &:hover{
                background-color: white;
                color: black;
            }
        }
    }
    #email{
        margin-top: 100px;
    }
}

/* Main tienda */

main.tienda{
    width: 100%;
    h2{
        text-align: center;
    }
    table{
        width: calc(100% - 40px);
        margin: 20px;
        border: none;
        border-collapse: collapse;
        border: 2px solid #75D0DC;
        tr{
            &:nth-child(1){
                border-top: none;
            }
            &:nth-child(4){
                border-bottom: none;
            }
            td{
                border: 3px solid black;
                //font-size: 25px;
                text-align: center;
                &:last-child{
                    width: 250px;
                }
                &:first-child{
                    width: 250px;
                }
                a{
                    text-decoration: underline;
                }
            }
        }
        .wrapper-frag{
            width: 150px;
            height: 150px;
            overflow: hidden;
            display: grid;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            margin: 15px auto;
            img{
                height: 100%;
                width: auto;
            }
        }
    } 
}

/* Main historia */ 

main.historia{
    width: calc(100% - 60px);
    margin: 0 30px;
    section{
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
        article{
            img{
                width: 100%;
            }
            p{
                font-size: 20px; 
            }
        }
    }
}

/* Main galería */

main.galeria{
    width: calc(100% - 60px);
    margin: 30px;
    h2{
        text-align: center;
        margin-bottom: 50px;
    }
    .content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        width: 100%;
    }
    a{
        //font-size: 31px;
        text-align: center;
        text-decoration: none;
        color: white;
        font-weight: bold;
        transition-duration: 0.5s;
        /* opacity: 0.7; */
        &:hover{
            /* opacity: 1; */
            transform: translateY(-20px);
        }
        img{
            width: 100%;
            border-radius: 30px; 
        }
    }
}

/* footer */

footer{
    background-color: black;
    width: 100%;
    grid-area: footer;
    .imgs{
        display: grid;
        grid-template-columns: repeat(3, auto);
        margin: 0 auto;
        width: 400px;
        a{
            text-align: center;
            img{
                width: 60%;
                height: auto;
                margin-top: 20px;
                transition-duration: 0.5s;
                &:hover{
                    opacity: 0.5;
                }
            } 
        }
    }
    small{
        text-align: center;
        width: calc(100% - 30px);
        display: inline-block;
        padding: 15px;
    }
}

/* Responsive - Media Queries */

@media screen and (max-width: 400px) {
    main.sectionContacto{
        .div1Contacto{
            display: none; 
        }
    } 
}

@media screen and (max-width: 480px) {
    main.inicio{
        .left{
            .btn.transparente{
                margin-top: 10px;
            }
        }
    }

    footer{
        .img{
            a{
                img{
                    width: 50%;
                }
            }
        }
    }

    main.galeria{
        a{
            margin-top: 0px !important;
        }
    }
}

@media screen and (max-width: 580px) {
    header nav ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
        li{
            padding-bottom: 0;
        }
    }

    main.inicio .left {
        width: calc(100% - 40px);
        text-align: center;
        margin-left: 0;
        padding: 0 20px;
    }
}

@media screen and (max-width: 750px) {
    main.galeria{
        .content{
            grid-template-columns: 1fr;
        }
        a{
            margin-top: 20px;
        }
    }
}

@media screen and (max-width: 860px) {
    header{
        flex-direction: column;
        ul{
            padding-left: 0;  
        }
        #logo{
            padding-left: 0;
        }
    }

    main.tienda{
        table{
            tr{
                &:nth-child(1){
                    display: none
                }
                &:nth-child(4){
                    display: none
                }
                td{
                    border: none;
                    &:nth-child(2){
                        display: none
                    }
                    &:nth-child(3){
                        display: none
                    }
                    &:nth-child(4){
                        display: none
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    main.inicio.inicio {
        grid-template-columns: 1fr;
        grid-template-areas: "right"
                              "left";
    }

    footer {
        margin-top: 80px;
    }

    main.sectionContacto{
        grid-template-columns: 1fr;
        .fotoContacto{
            width: 300px;
        } 
        .formulario{
            margin-top: 20px;
        }
    }

    main.historia{
        section{
            grid-template-columns: 1fr;
        }
    }
}
